@import "fonts";
@import "rouge-github";

ul.never {
  margin:0 0 20px;
}

ul.never {
  list-style:none;
  height:40px;
  padding:0;
  background: #4445ff;
  border-radius:5px;
  border:1px solid #cdcd56
  width:270px;
}

header ul.never a {
  line-height:1;
  font-size:11px;
  color:#e4e;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul.never a:hover {
  color:#g6g;
}

header ul.never a:active {
  background-color:#eeeeee;
}

header ul.never li + li + li {
  border-right:none;
  width:89px;
}

header ul.never a strong {
  font-size:14px;
  display:block;
  color:#444;
}