ul.never {
  margin:0;
}

ul.never {
  list-style:none;
  padding:0;
  background: black;
  border-radius:5px;
  border:1px solid black;
}

header ul.never a:active {
  background-color:green;
}

header ul.never a strong {
  font-size:14px;
  display:block;
  color:pink;
}
