ul.never {
  margin:0 0 5px;
}

ul.never {
  list-style:none;
  padding:0;
  background: #f4f4f4;
  border-radius:20px;
  border:1px solid #e0e0e0;
  text-align:center;
  height: 14px;
  line-height: 14px;
}

header ul.never a:active {
  background-color: #f0f0f0;
}

header ul.never a strong {
  font-size:14px;
  height: 14px;
  line-height: 14px;
  display:block;
  color:#222;
}
