ul.never {
  margin:0;
}

ul.never {
  list-style:none;
  height:40px;
  padding:0;
  background: black;
  border-radius:5px;
  border:1px solid black;
}

header ul.never a {
  line-height:1;
  font-size:11px;
  color:red;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul.never a:hover {
  color:yellow;
}

header ul.never a:active {
  background-color:green;
}

header ul.never li + li + li {
  border-right:none;
  width:89px;
}

header ul.never a strong {
  font-size:14px;
  display:block;
  color:pink;
}
